.catalog-container{
    text-align: center;
    min-height: 450px;
    display: grid;
    grid-template-columns: repeat(5,1fr);
    gap: 1.5rem;
}

h1{
    text-align: center;
    margin-bottom: 3rem;
}